<% if @options_for_select %>
  <%= turbo_stream.update @id do %>
    <%= options_for_select (@options_for_select.collect { | option | [option.name, option.id] }) %>
  <% end %>
<% end %>

<%= turbo_stream.update @summary_target do %>
  <span data-summary-target="fieldToReset"><%= @value  %></span>
<% end %>